.games-list{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 2rem;
    
}

.games-list-game{
    display: flex;
    flex-direction: column;
    width: 80%; 
    background-color: var(--secondary-color);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;    
    text-align: center;
}

.games-list-game-img{
    max-width: 100%;
    width: 100%;
    height: 67%;
    border-radius: 1rem;
}

.games-list-game-details{
    display: flex;
    width: 100%;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;    
    border-radius: 1rem;
    text-align: center;
    margin-top: 10px;
}

.games-list-game-details h3 {
    font-size: 1rem;
    margin-top: 5px;
}

.games-list-game-details p {
    font-size: 0.8rem;
    margin-top: 5px;
}

.games-list-game a{  
    width: 50%; 
    padding: 3px 10px;  
    border-radius: 0.8rem;  
    text-decoration: none;
    color: var(--main-color);
    background-color: var(--text-color);
    text-align: center;
    margin: 25px 0;   
}

.pagination{
    width: 80%;
    margin: 20px;
    text-align: center;
}

#loadMoreButton{
    padding: 10px 25px;
    border-radius: 1rem;
}