main{
    width: 90%;
}

.games-list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    list-style: none;
    margin-top: 2rem;
    width: 100%;    
}

.games-list-game{
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 450px;
    background-color: var(--secondary-color);
    justify-content:space-between;
    border-radius: 20px;
    align-items: center;    
    text-align: center;
}

.games-list-game-img{
    max-width: 100%;
    width: 100%;  
    height: 250px;
    object-fit:cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.games-list-game-details{
    display: flex;
    width: 90%;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;    
    border-radius: 1rem;
    text-align: center;
    margin-top: 10px;
    gap: 2%;
}
.game-info-main{
    width: 50%;
}

.game-info-genres{
    width: 50%;
}

.games-list-game-details h3 {
    font-size: 1rem;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.games-list-game-details p {
    font-size: 0.8rem;
    margin-top: 5px;
}

.games-list-game a{  
    width: 50%; 
    padding: 3px 10px;  
    border-radius: 0.8rem;  
    text-decoration: none;
    color: var(--main-color);
    background-color: var(--text-color);
    text-align: center;
    margin: 25px 0;   
}

.pagination{
    width: 80%;
    margin: 20px;
    text-align: center;
}

#loadMoreButton{
    padding: 10px 25px;
    border-radius: 1rem;
}

@media (min-width:450px){
    .games-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }    
}

@media (min-width:800px){
    .games-list{
        grid-template-columns: 1fr 1fr 1fr;
    }    
}

@media (min-width:1200px){
    .games-list{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }    
}

@media (min-width:1920px){
    .games-list{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }    
}
