*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

:root {
  --main-color: #15101d;
  --secondary-color: #221a2e;
  --text-color:#FFFFFF;
}

body{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

footer{
    color: var(--text-color);
    margin-bottom: 5px;
}

