:root{
    --cor-textos: #FFFFFF;
    --cor-textos-pequenos: #C0C0C0;
    --cor-botao: #f77b16;
    --cor-de-fundo: #00030C;
    --font-principal: "Inter", sans-serif;
  
; 
}

*{
    margin: 0;
    padding:0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-textos);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal{
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 5em;
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__botao{
    background-color: var(--cor-botao);
    border-radius: 5px;
    padding: 1em;
    color: var(--cor-textos);
    display:block;
    text-decoration: none;
    margin-bottom: 1em;    
}

.botao__secundario{
    background-color: transparent;
    border: 2px solid var(--cor-textos);
}

.container__aviso{
    font-size: 12px;
    color: var(--cor-textos-pequenos);
    text-align: center;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.secundario__imagem{
    width: 80%;
    border-radius: 2em;
}

.secundario{
    align-items: center;
    margin: 0 7%;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--cor-textos);
    margin-bottom: 0.5em;
    text-align: center;
}

.descricao__texto{
    color: var(--cor-textos-pequenos);
    text-align: center;
}

.secundario__botao{
    display: inline-block;
    align-items: center;
    margin-top: 1em;
}

.container__descricao{
    text-align: center;
}

.container__descricao{
    padding: 2em;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    margin-bottom: 2em;
    font-size: 48px;
    color: var(--cor-textos);
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type:none;
    margin-bottom: 8em;
}

.lista__item{
    font-size: 32px;
    color: var(--cor-textos);
    
}

.rodape{
    text-align: center;
    margin: 5em 1em;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em; 
    margin-bottom: 1em;   
}

.link__nome{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto{
    margin-bottom: 1em;
    font-size: 14px;
    color: var(--cor-textos-pequenos)
}

